<!-- banner -->

<section class="pt-40 pb-20 lg:py-40">
  <div class="container px-2 mx-auto flex justify-between flex-col lg:flex-row">
    <div class="w-full lg:w-1/2">
      <h2 class="text-[60px]">
        We’re here to <br />
        help you out!
      </h2>

      <div class="border-b border-[#dcdcdc] my-12">
        <div class="flex gap-2 items-center">
          <img src="../assets/svg/email-2.svg" alt="icon" />
          <p class="text-[20px]">Reach us via Email</p>
        </div>
        <p class="text-[#7C7C7C] text-[16px] mt-2">
          Just an email away, we’re here to help with whatever you need.
        </p>
        <a href="" class="bg-[#f6f6f6] inline-block px-12 py-2 my-6"
          ><p class="flex gap-2">
            <span class="text-[14px]">Send an Email</span>
            <img src="../assets/svg/arrow-r-s.svg" alt="arrow" />
          </p>
        </a>
      </div>

      <div class="border-b border-[#dcdcdc] my-12">
        <div class="flex gap-2 items-center">
          <img src="../assets/svg/whatsapp.svg" alt="icon" />
          <p class="text-[20px]">Reach us via Whatsapp</p>
        </div>
        <p class="text-[#7C7C7C] text-[16px] mt-2">
          Message us on WhatsApp for quick support whenever you need us.
        </p>
        <a href="" class="bg-[#f6f6f6] inline-block px-12 py-2 my-6"
          ><p class="flex gap-2">
            <span class="text-[14px]">Send a Message</span>
            <img src="../assets/svg/arrow-r-s.svg" alt="arrow" />
          </p>
        </a>
      </div>
    </div>
    <div
      class="bg-[#010131] rounded-md p-4 lg:p-8 w-full lg:w-1/2 xl:w-[618px] text-white h-fit"
    >
      <h5 class="text-[24px]">Message us</h5>
      <p class="text-[16px] border-b py-2 border-[#404065] mb-4">
        Send us a message and we’ll get back as quick as possible
      </p>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="w-full">
        <div class="flex gap-2 my-2">
          <div class="w-1/2">
            <input
              id="firstName"
              formControlName="firstName"
              class="text-black placeholder-[#989898] bg-white rounded-md border border-gray-500 focus:border-[#d7fc51] p-2 focus:outline-none w-full"
              placeholder="Enter your first name"
            />
            <div
              *ngIf="
                contactForm.get('firstName')?.invalid &&
                contactForm.get('firstName')?.touched
              "
            >
              <small class="error text-red-500">First Name is required.</small>
            </div>
          </div>
          <div class="w-1/2">
            <input
              id="lastName"
              formControlName="lastName"
              class="text-black placeholder-[#989898] bg-white rounded-md border border-gray-500 focus:border-[#d7fc51] p-2 focus:outline-none w-full"
              placeholder="Enter your last name"
            />
            <div
              *ngIf="
                contactForm.get('lastName')?.invalid &&
                contactForm.get('lastName')?.touched
              "
            >
              <small class="error text-red-500">Last Name is required.</small>
            </div>
          </div>
        </div>
        <div class="my-2">
          <input
            id="email"
            formControlName="email"
            class="text-black placeholder-[#989898] bg-white rounded-md border border-gray-500 focus:border-[#d7fc51] p-2 focus:outline-none w-full"
            placeholder="Enter your email"
          />
          <div
            *ngIf="
              contactForm.get('email')?.invalid &&
              contactForm.get('email')?.touched"
          >
            <small class="error text-red-500">A valid Email is required.</small>
          </div>
        </div>

        <div class="my-2">
          <textarea
            id="message"
            formControlName="message"
            class="text-black placeholder-[#989898] bg-white rounded-md border border-gray-500 focus:border-[#d7fc51] p-2 focus:outline-none w-full h-40 lg:h-64 xl:h-60"
            placeholder="Enter your message"
          ></textarea>
          <div
            *ngIf="
              contactForm.get('message')?.invalid &&
              contactForm.get('message')?.touched
            "
          >
            <small class="error text-red-500">Message is required.</small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="contactForm.invalid || loading"
          class="bg-[#D6FB51] text-[18px] flex rounded-md w-full text-black gap-2 justify-center py-2 cursor-pointer hover:bg-[#CCF146]"
        >
          Send Message
          <img src="../assets/svg/arrow-r-s.svg" alt="arrow" />
        </button>

        <div *ngIf="loading" class="loader text-center">Loading...</div>

        <div *ngIf="successMessage" class="success text-white text-center mt-4">
          {{ successMessage }}
        </div>
      </form>
    </div>
  </div>
</section>

<!-- platform -->
<section
  class="py-20 lg:py-32 relative bg-[linear-gradient(90deg,_rgba(55,106,236,1)_0%,_rgba(122,241,240,1)_100%)]"
>
  <div class="container px-2 mx-auto">
    <h2
      class="text-[30px] lg:text-[54px] w-[470px] text-base/10 lg:text-base/16 text-white mb-4"
    >
      La plataforma que transforma activos en tokens.
    </h2>
    <a
      href="#"
      class="text-black bg-[#D7FC51] hover:bg-[#CCF146] px-6 py-3 lg:py-4 inline-block rounded-md mr-4"
      >Habla con un experto</a
    >
    <span class="absolute top-0 right-0 hidden lg:block">
      <img src="../assets/svg/Vector 49.svg" alt="" />
    </span>
  </div>
</section>
<!-- /platform -->
