<footer class="bg-[#010131] py-12">
  <div class="container px-2 mx-auto text-white">
    <div class="flex justify-between flex-col lg:flex-row gap-8 lg:gap-0">
      <div class="w-full lg:w-[50%]">
        <h4 class="text-[32px]">hello&#64;unitok.io</h4>
        <p class="text-[18px] opacity-70 mb-2">Seguimos</p>
        <div class="flex gap-2">
          <a href="#">
            <img
              src="assets/svg/discord.svg"
              alt="discord"
              class="opacity-70 hover:opacity-100"
            />
          </a>
          <a href="#">
            <img
              src="assets/svg/instagram.svg"
              alt="instagram"
              class="opacity-70 hover:opacity-100"
            />
          </a>
          <a href="#">
            <img
              src="assets/svg/telegram.svg"
              alt="telegram"
              class="opacity-70 hover:opacity-100"
            />
          </a>
          <a href="#">
            <img
              src="assets/svg/medium.svg"
              alt="medium"
              class="opacity-70 hover:opacity-100"
            />
          </a>
          <a href="#">
            <img
              src="assets/svg/x.svg"
              alt="x"
              class="opacity-70 hover:opacity-100"
            />
          </a>
        </div>
      </div>
      <div class="w-full lg:w-[16%]">
        <h6 class="text-[18px] mb-4">Explore</h6>
        <div class="flex flex-col">
          <a href="#" class="opacity-75 font-thin mb-1">¿Quienes somos?</a>
          <a href="#" class="opacity-75 font-thin mb-1">Marketplace</a>
          <a href="#" class="opacity-75 font-thin mb-1">Live Sale</a>
          <a href="#" class="opacity-75 font-thin mb-1">Live Sale</a>
          <a href="#" class="opacity-75 font-thin mb-1">About Us</a>
          <a href="#" class="opacity-75 font-thin mb-1">Blog</a>
        </div>
      </div>
      <div class="w-full lg:w-[16%]">
        <h6 class="text-[18px] mb-4">Support</h6>
        <div class="flex flex-col">
          <a href="#" class="opacity-75 font-thin mb-1">FAQ</a>
          <a href="#" class="opacity-75 font-thin mb-1">Contact</a>
        </div>
      </div>
      <div class="w-full lg:w-[16%]">
        <h6 class="text-[18px] mb-4">Legal</h6>
        <div class="flex flex-col">
          <a href="#" class="opacity-75 font-thin mb-1">Terms of Service</a>
          <a href="#" class="opacity-75 font-thin mb-1">Risk Disclosure</a>
          <a href="#" class="opacity-75 font-thin mb-1">Privacy Policy</a>
        </div>
      </div>
    </div>

    <p class="text-[16px] opacity-70 py-18">
      © Unitok is Proudly Owned By Profit4Life | 07 Seaford Road Cuminestown
    </p>
    <img
      src="assets/svg/LogoFooter.svg"
      alt="Logo Footer"
      class="w-[320px] md:w-[500px] lg:w-[820px] xl:w-[1240px] h-auto"
    />
  </div>
</footer>
