<div class="flex items-center justify-center h-screen">
  <div class="bg-white w-[320px] md:w-[600px]">
    <img src="../assets/svg/LoginLogo.svg" alt="LoginLogo" class="mx-auto" />
    <h2 class="text-[32px] font-bold text-center my-2">Welcome to Unitok!</h2>
    <p class="text-center text-[16px] text-[#7c7c7c]">
      Create your account in seconds and explore what’s next.
    </p>
    <form (ngSubmit)="onSubmit()" class="mt-12">
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium text-gray-700"
          >Name</label
        >
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          name="name"
          required
          placeholder="Enter your name"
          class="mt-1 block w-full rounded-md p-2 bg-[#E9E9E9] placeholder:text-[#B0B0B0] outline-0"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          placeholder="Enter your email"
          class="mt-1 block w-full rounded-md p-2 bg-[#E9E9E9] placeholder:text-[#B0B0B0] outline-0"
        />
      </div>
      <button
        type="submit"
        class="w-full bg-[#2D56D7] text-white py-2 rounded-md hover:bg-blue-600 transition duration-200 text-[18px]"
      >
        Create your account
      </button>
    </form>
  </div>
</div>
